
.form-container{
  padding-top: 50px;
  padding-left: 400px;
  padding-right: 400px;
}
h1{
  text-align: center;
}
a{
  text-decoration: underline;
  float:right;
}

nav a{
  color: #000000;
}
a:hover{
  color:grey;
  text-decoration: none;
}

.title{
  display: inline-block;
  line-height: 40px;
  font-weight:bold;
}
